cleaned_AI Receipt & Invoice Extraction Workflow.json
{
  "name": "AI Receipt & Invoice Extraction Workflow",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get a File').item.json.fileExtension }}",
                    "rightValue": "jpg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "YOUR_RESOURCE_ID"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JPG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_RESOURCE_ID",
                    "leftValue": "={{ $('Get a File').item.json.fileExtension }}",
                    "rightValue": "png",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PNG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_RESOURCE_ID",
                    "leftValue": "={{ $('Get a File').item.json.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -96,
        -80
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "Switch"
    },
    {
      "parameters": {
        "text": "={{ $json.extracted_text_pdf ?? $json.extracted_text_image}}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"date\": {\n      \"type\": \"string\",\n      \"description\": \"Extract the transaction or payment date from the receipt in YYYY-MM-DD format.\"\n    },\n    \"receiptId\": {\n      \"type\": \"string\",\n      \"description\": \"Extract the receipt number, invoice number, or transaction reference ID.\"\n    },\n    \"vendor\": {\n      \"type\": \"string\",\n      \"description\": \"Extract the business, company, or merchant name from the receipt.\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"Extract a short description of the purchased item, service, or payment purpose.\"\n    },\n    \"amount\": {\n      \"type\": \"number\",\n      \"description\": \"Extract the final total amount paid from the receipt.\"\n    },\n    \"currency\": {\n      \"type\": \"string\",\n      \"description\": \"Extract the currency used in the receipt such as INR, USD, CAD, EUR.\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"Classify the expense category such as Education, Travel, Food, Software, Office Supplies, Marketing, etc.\"\n    },\n    \"expenseType\": {\n      \"type\": \"string\",\n      \"description\": \"Extract the specific expense type or purchase type.\"\n    },\n    \"paymentMethod\": {\n      \"type\": \"string\",\n      \"description\": \"Extract the payment method if available such as Credit Card, Debit Card, UPI, Cash, PayPal, etc.\"\n    },\n    \"gstHstPaid\": {\n      \"type\": \"number\",\n      \"description\": \"Extract the GST or HST tax amount if available. Return 0 if not present.\"\n    },\n    \"pstPaid\": {\n      \"type\": \"number\",\n      \"description\": \"Extract the PST or provincial tax amount if available. Return 0 if not present.\"\n    },\n    \"totalTax\": {\n      \"type\": \"number\",\n      \"description\": \"Extract the total combined tax amount from the receipt. Return 0 if not present.\"\n    }\n  },\n  \"required\": [\n    \"date\",\n    \"receiptId\",\n    \"vendor\",\n    \"description\",\n    \"amount\",\n    \"currency\",\n    \"category\",\n    \"expenseType\",\n    \"paymentMethod\",\n    \"gstHstPaid\",\n    \"pstPaid\",\n    \"totalTax\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        704,
        -208
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        784,
        -48
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "OpenAI Chat Model",
      "credentials": {
        "REMOVED": "Credentials removed for public GitHub upload"
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_RESOURCE_ID",
          "mode": "list",
          "cachedResultName": "2025 Business Expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_RESOURCE_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_RESOURCE_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vendor": "={{ $json.output.vendor }}",
            "Receipt ID": "={{ $json.output.receiptId }}",
            "Merchant": "={{ $json.output.vendor }}",
            "Description": "={{ $json.output.description }}",
            "Date": "={{ $json.output.date }}",
            "Amount": "={{ $json.output.amount }}",
            "Currency": "={{ $json.output.currency }}",
            "Category": "={{ $json.output.category }}",
            "Expense Type": "={{ $json.output.expenseType }}",
            "Payment Method": "={{ $json.output.paymentMethod }}",
            "GST/HST Paid": "={{ $json.output.gstHstPaid }}",
            "Total Tax": "={{ $json.output.totalTax }}",
            "Receipt Location": "={{ $('Download file').item.json.webViewLink }}",
            "File Name": "={{ $('Download file').item.json.name }}",
            "Processed Date": "={{ $('Download file').item.json.createdTime }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Merchant",
              "displayName": "Merchant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Receipt ID",
              "displayName": "Receipt ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expense Type",
              "displayName": "Expense Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GST/HST Paid",
              "displayName": "GST/HST Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PST Paid",
              "displayName": "PST Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Total Tax",
              "displayName": "Total Tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Processed Date",
              "displayName": "Processed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Receipt Location",
              "displayName": "Receipt Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        -80
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "Append row in sheet",
      "credentials": {
        "REMOVED": "Credentials removed for public GitHub upload"
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download file').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=YOUR_RESOURCE_ID",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1152,
        -80
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "Move to Process Folder",
      "credentials": {
        "REMOVED": "Credentials removed for public GitHub upload"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "={{ $('Append row in sheet').item.json['Processed Date'] }}{{ $('Append row in sheet').item.json.Vendor }}{{ $('Append row in sheet').item.json.Amount }}{{ $('Append row in sheet').item.json['File Name'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1312,
        -80
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "Update filename",
      "credentials": {
        "REMOVED": "Credentials removed for public GitHub upload"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/images:annotate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GOOGLE_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"image\": {\n        \"content\": \"{{ $json.data }}\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        -208
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "OCR API-Image",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/files:annotate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GOOGLE_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"inputConfig\": {\n        \"content\": \"{{ $json.data }}\",\n        \"mimeType\": \"application/pdf\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        64
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "OCR API-PDF",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "YOUR_RESOURCE_ID",
              "name": "extracted_text_pdf",
              "value": "={{ $json.extracted_text }}",
              "type": "string"
            },
            {
              "id": "YOUR_RESOURCE_ID",
              "name": "extracted_text_image",
              "value": "={{ $json.responses[0].textAnnotations[0].description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -64
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "Edit Fields",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract OCR text safely from YOUR actual structure\n\nlet extractedText = '';\n\nfor (const item of $input.all()) {\n\n  try {\n\n    const text =\n      item.json.responses?.[0]?.responses?.[0]?.fullTextAnnotation?.text || '';\n\n    extractedText += '\\n\\n' + text;\n\n  } catch (error) {\n\n    console.log('OCR extraction error:', error);\n  }\n}\n\nreturn [\n  {\n    json: {\n      extracted_text: extractedText.trim()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        64
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "Agg Data",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "YOUR_RESOURCE_ID",
              "leftValue": "={{ $json.extracted_text_pdf ||\n$json. extracted_text_imag\ne}}",
              "rightValue": "={{ $json.extracted_text_image }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        -64
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "Check Error"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download file').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "12JJwlpCJx3OdYTzCOXQkT18ztWc0lo9d",
          "mode": "list",
          "cachedResultName": "Errors_Folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12JJwlpCJx3OdYTzCOXQkT18ztWc0lo9d"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        768,
        80
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "Move file to Error Folder",
      "credentials": {
        "REMOVED": "Credentials removed for public GitHub upload"
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -912,
        -48
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -496,
        -48
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "Download file",
      "credentials": {
        "REMOVED": "Credentials removed for public GitHub upload"
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_RESOURCE_ID",
          "mode": "list",
          "cachedResultName": "Unprocessed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_RESOURCE_ID"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        -48
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "Get a File",
      "credentials": {
        "REMOVED": "Credentials removed for public GitHub upload"
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -288,
        -48
      ],
      "id": "YOUR_RESOURCE_ID",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "OCR API-Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR API-Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR API-PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Move to Process Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Process Folder": {
      "main": [
        [
          {
            "node": "Update filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR API-Image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR API-PDF": {
      "main": [
        [
          {
            "node": "Agg Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Check Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agg Data": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file to Error Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a File": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "YOUR_RESOURCE_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "253cce94b10468dcb12b7bdd9abcfa43563d1c0ae2314613857e2707db741b2b"
  },
  "id": "0q1hHNV7VthRtiqF",
  "tags": []
}